<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование статьи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1>Pедактирование баланса</h1>
        <form method="post">
            <input type="number" step=0.01 min="0" th:value="${balance.debit}" name="debit" placeholder="приход"
                   class="form-control">
            <input type="number" step=0.01 min="0" th:value="${balance.credit}" name="credit" placeholder="расход"
                   class="form-control">
            <button type="submit" class="btn btn-success">Обновить</button>
        </form>
    </div>
</body>
</html>